/*TODO: Improve CSS*/
table.world-component, table.world-component td {
  border: 1px solid #ccc;
}

table.world-component {
  border-collapse: collapse;
}

table.world-component td {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

table.world-component td.alive {
  background-color: #000;
}

.examples-component .example-pattern {
  display: inline-block;
  margin: 1rem;
}